@model DOANWEB.Models.SanPham

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.maloaisp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maloaisp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tensp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tensp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinh)
        </dt>

        <dd>
            <img src="@Model.hinh" alt="hinh thumbnail" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaycapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluongton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluongton)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.masp }) |
    @Html.ActionLink("Back to List", "Listsp")
</p>
