@model DOANWEB.Models.SanPham

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/test/Head.cshtml";
}

<div class="header">

    <div class="navbar">
        <div class="navbar__left">



            <div style="justify-content: space-between;" class="navbar__menu">
                <i id="bars" class="fa fa-bars" aria-hidden="true"></i>
                <ul>
                    <li>@Html.ActionLink("Trang chủ", "Index", "TrangChu")</li>
                    <li>@Html.ActionLink("Thông tin sản phẩm", "Index", "SanPham")</li>
                    <li>@Html.ActionLink("Đăng Ký", "DangKy", "NguoiDung")</li>
                    <li>@Html.ActionLink("Đăng Nhập", "DangNhap", "NguoiDung")</li>

                    <li>@Html.Partial("~/Views/GioHang/GioHangPartial.cshtml")</li>
                    <i class="fa-solid fa-cart-plus"></i>

                    <li>@Html.ActionLink("admin", "Index", "Admin")</li>

                </ul>



            </div>

        </div>

        <div class="navbar__center">
            <form action="" method="GET" class="navbar__search">
                <input type="text" value="" placeholder="Tìm sản phẩm" name="txtsearch" class="search" required>
                <i class="fa fa-search" id="searchBtn"></i>
            </form>
        </div>
    </div>
</div>
<body>
    <div class="body">
        <a class="buy_continute" href="/Admin/Index"><i class="fa fa-arrow-circle-left"></i> Trở Lại Trang Chủ</a>
        <div class="product__details">
            <div class="product__details-img">
                <img width="200x" src="@Model.hinh" alt="hinh thumbnail" />

            </div>
            <div class="product__details-info">
                <h3>
                    @Html.DisplayFor(model => model.tensp)
                </h3>
                <span style="color: #ed1c24; font-size: 90%;"><strong>Hỗ trợ mua hàng:</strong></span>

                <div>
                    <p>⭐ Bảo hành <strong><span style="color: #ed1c24;">1 Năm</span></strong> </p>
                    <p>⭐️ Giao hàng tận nơi, miễn phí<span style="color: #00aae7;"><strong><a style="color: #00aae7;"></a></strong></span></p>
                </div>
                <div class="icons_socials">

                    <a class="a" style="background-color: #1b4e9b" href="https://www.facebook.com/TranHoangRinh.dvfb.web">
                        <i class="fab fa-facebook-f"></i>
                    </a>



                    <a class="a" style="background-color: #c00 " href="https://www.instagram.com/modang_0911/">
                        <i class="fab fa-instagram"></i>
                    </a>



                    <a class="a" style="background-color:red" href="tel:0921312321">
                        <i class="fas fa-phone-alt"></i>
                    </a>


                </div>




                <button type="submit" class="product__cart-buy" name="buy-now">
                    <a style="text-decoration:none" class="DatMuabtn" href="@Url.Action("ThemGioHang", "GioHang",
                   new { @id = Model.masp, @strURL = Request.Url.ToString() })">Đặt mua</a>
                </button>




            </div>
        </div>
    </div>






</body>

<footer>


    <div class="footer__info">

        <div class="footer__info-content">
            <h3>Trung tâm trợ giúp</h3>
            <p>Cửa hàng nội thất Hutech</p>
            <p>Hướng dẫn mua hàng</p>
        </div>



        <div class="footer__info-content">
            <h3>Theo dõi</h3>
            <div>
                <a href="https://www.facebook.com/TranHoangRinh.dvfb.web" class="footer-item-link">
                    <i class="footer-item__icon fab fa-facebook"></i>
                    Facebook
                </a>
            </div>

            <div>
                <a href="" class="footer-item-link">
                    <i class="footer-item__icon fab fa-instagram-square"></i>
                    Instagram
                </a>
            </div>


            <div>
                <a href="" class="footer-item-link">
                    <i class="footer-item__icon fa-solid fa-phone"></i>
                    0915728524
            </div>



        </div>

        <div class="footer__info-content">
            <h3>Chăm sóc khách hàng</h3>
            <p>Hỗ trợ đổi sản phẩm</p>
            <p>Phản hồi</p>
        </div>

    </div>


</footer>